html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;	
	flex-flow: row nowrap;
    background-color: #efb106;
}   
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend{
	font-weight: bold;
	font-size: 1.5rem;
	margin-top:1.5rem;
	margin-bottom:1rem;
	display:block;
}
label{
	
	display: block;
	padding-bottom: 10px;
}
textarea{
	height: 10rem;
	padding: 1rem;
}
option{
	font-size: large;
	background-color: #efb106;
}
select{
	font-size: large;
	border-radius:2px;
}
button{
	margin: 2rem 0;
	font-size: large;
	background-color: blue;
	color: white;
	border:none;
	padding:0.5rem 1rem;
	border-radius:10px;

}
button:hover{
	background-color: white;
	color: purple;
}
textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	border-radius: 10px;
	padding: 0 1rem;
}

input:not([type="radio"]):not([type="checkbox"]),textarea,select{
    margin-bottom:2rem;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	padding:0 1rem;
	font-size: 1rem;
}
select{
	font-size: 1rem;
}
p,[for="abtype"]{ 
	margin: 2rem 0 0 0;

}
iframe{
	padding-right:7rem;
}
aside{
	display: block;
}












